@import url('../../globalStyling.scss');

.eventcardwrapper{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    div{
        display: flex;
        justify-content: end;
    }
}
.buttonwrapper{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
}
